schema_version: 2.0.0
component: MOM6_GEOSPlug

category: IMPORT
#------------------------------------------------------------------------------------
# VARIABLE                 | DIMENSIONS  |          Additional Metadata
#------------------------------------------------------------------------------------
NAME        | UNITS        | DIMS | VLOC | LONG_NAME 
#------------------------------------------------------------------------------------
'TAUX'      | 'N m-2'      | xy   | N    | 'Agrid_eastward_stress_on_ocean' 
'TAUY'      | 'N m-2'      | xy   | N    | 'Agrid_northward_stress_on_ocean' 
'PS'        | 'Pa'         | xy   | N    | 'Surface Atmospheric Pressure' 
'PICE'      | 'Pa'         | xy   | N    | 'pressure due to ice weight' 
'SWHEAT'    | 'W m-2'      | xyz  | C    | 'solar_heating_rate' 
'LWFLX'     | 'W m-2'      | xy   | N    | 'surface_net_downward_longwave_flux' 
'SHFLX'     | 'W m-2'      | xy   | N    | 'upward_sensible_heat_flux' 
'QFLUX'     | 'kg m-2 s-1' | xy   | N    | 'evaporation' 
'RAIN'      | 'kg m-2 s-1' | xy   | N    | 'ocean_rainfall' 
'SNOW'      | 'kg m-2 s-1' | xy   | N    | 'ocean_snowfall' 
'SFLX'      | 'kg m-2 s-1' | xy   | N    | 'salt_flux_from_sea_ice_to_ocean' 
'PENUVR'    | 'W m-2'      | xy   | N    | 'net_downward_penetrating_direct_UV_flux' 
'PENPAR'    | 'W m-2'      | xy   | N    | 'net_downward_penetrating_direct_PAR_flux' 
'PENUVF'    | 'W m-2'      | xy   | N    | 'net_downward_penetrating_diffuse_UV_flux' 
'PENPAF'    | 'W m-2'      | xy   | N    | 'net_downward_penetrating_diffuse_PAR_flux' 
'DRNIR'     | 'W m-2'      | xy   | N    | 'net_surface_downwelling_nir_beam_flux' 
'DFNIR'     | 'W m-2'      | xy   | N    | 'net_surface_downwelling_nir_diffuse_flux' 
'DISCHARGE' | 'kg m-2 s-1' | xy   | N    | 'river_discharge_at_ocean_points' 
'AICE'      | '1'          | xy   | N    | 'ice_concentration_of_grid_cell' 
'TAUXBOT'   | 'N m-2'      | xy   | N    | 'eastward_stress_at_base_of_ice_Agrid' 
'TAUYBOT'   | 'N m-2'      | xy   | N    | 'northward_stress_at_base_of_ice_Agrid' 

category: EXPORT
#------------------------------------------------------------------------------------
# VARIABLE                    | DIMENSIONS  |          Additional Metadata
#------------------------------------------------------------------------------------
NAME          | UNITS         | DIMS | VLOC | LONG_NAME 
#------------------------------------------------------------------------------------
'UW'          | 'm s-1 '      | xy   | N    | 'surface_Agrid_eastward_velocity' 
'VW'          | 'm s-1 '      | xy   | N    | 'surface_Agrid_northward_velocity' 
'UWB'         | 'm s-1 '      | xy   | N    | 'surface_Bgrid_X_velocity' 
'VWB'         | 'm s-1 '      | xy   | N    | 'surface_Bgrid_Y_velocity' 
'TW'          | 'K'           | xy   | N    | 'surface_temperature' 
'SW'          | 'psu'         | xy   | N    | 'surface_salinity' 
'MOM_2D_MASK' | '1'           | xy   | N    | 'MOM_ocean_mask_at_t-points' 
'AREA'        | 'm+2'         | xy   | N    | 'MOM_ocean_area_at_t-points' 
'SLV'         | 'm'           | xy   | N    | 'sea_level_with_ice_loading_and_invBaro'
'FRAZIL'      | 'W m-2'       | xy   | N    | 'heating_from_frazil_formation' 
'MELT_POT'    | 'W m-2'       | xy   | N    | 'heat_that_can_be_used_to_melt_sea_ice' 
'FRZMLT'      | 'W m-2'       | xy   | N    | 'freeze_melt_potential' 
'DUM1'        | '1'           | xy   | N    | 'dummy_export1' 
'DUM2'        | '1'           | xy   | N    | 'dummy_export2' 
'U'           | 'm s-1'       | xyz  | C    | 'eastward_current' 
'V'           | 'm s-1'       | xyz  | C    | 'northward_current' 
'DH'          | 'm OR kg m-2' | xyz  | C    | 'layer_thickness' 
'DEPTH'       | 'm'           | xyz  | C    | 'layer_depth' 
'T'           | 'K'           | xyz  | C    | 'potential_temperature' 
'S'           | 'psu'         | xyz  | C    | 'salinity' 
'SWFRAC'      | '1'           | xyz  | C    | 'shortwave_fractional_decay' 

category: INTERNAL
#----------------------------------------------------------------------------------------
#  VARIABLE    | DIMENSION               |          Additional Metadata
#----------------------------------------------------------------------------------------
  NAME | UNITS | DIMS | VLOC | UNGRIDDED | RESTART | ADD2EXPORT | FRIENDLYTO | LONG NAME
#----------------------------------------------------------------------------------------



#********************************************************
#
# Legend
#
#------------------------------------------------------------------
# Column label | MAPL keyword/interpretation |  Default
#--------------|---------------------------------------------------
# NAME         | short_name                  |
# UNITS        | units                       |
# DIMS         | dims                        |
# VLOC         | VLocation                   | MAPL_VLocationNone
# LONG NAME    | long_name                   |
# COND         | if (<logical-expr>) then    |  .FALSE.
# NUM_SUBTILES | num_subtiles
# ...
#------------------------------------------------------------------
#
#--------------------------------------------
# Entry alias  | Column | MAPL keyword/interpretation
#--------------|-----------------------------
# xyz          | DIMS   | MAPL_HorzVert
# xy           | DIMS   | MAPL_HorzOnly
# z            | DIMS   | MAPL_VertOnly  (plus ungridded)
# C            | VLOC   | MAPL_VlocationCenter
# E            | VLOC   | MAPL_VlocationEdge
# N            | VLOC   | MAPL_VlocationNone
#--------------------------------------------
